.join-us {
  padding: 100px 0;
  background-color: #f2f2f2;
  .join-us-content {
    @include flex-between-x;
    .left-wrapper {
      width: 22%;
      .contact-way {
        padding: 50px 40px;
        background-color: $red;
        color: #fff;
        h2 {
          font-size: 30px;
          &::before {
            content: "";
            display: block;
            width: 35px;
            height: 26px;
            background-image: url(../images/email.png);
            @include bg-contain;
            margin-bottom: 50px;
          }
        }
        p {
          font-size: 16px;
        }
      }
    }
    .right-wrapper {
      width: 76%;
      .jobs {
        background-color: #fff;
        .item {
          border-top: 1px solid rgba(0, 0, 0, 0.05);
          padding-bottom: 10px;
          .job-card {
            &.active {
              .jtop {
                .name {
                  color: $red;
                }
                &::before {
                  display: none;
                }
              }
              .jdes {
                display: block;
              }
            }
            .jtop {
              width: 100%;
              height: auto;
              padding: 25px;
              position: relative;
              overflow: hidden;
              cursor: pointer;
              &::after {
                width: 16px;
                height: 2px;
                position: absolute;
                right: 20px;
                top: 50%;
                margin-top: -1px;
                background: #000;
                display: block;
                content: "";
              }
              &::before {
                width: 2px;
                height: 16px;
                position: absolute;
                right: 26px;
                top: 50%;
                margin-top: -8px;
                background: #000;
                display: block;
                content: "";
              }
              .name {
                width: 200px;
                height: auto;
                float: left;
                font-size: 18px;
                line-height: 30px;
                overflow: hidden;
                font-weight: bold;
              }
              .des {
                width: calc(100% - 250px);
                float: left;
                font-size: 14px;
                line-height: 30px;
                opacity: 0.7;
                span {
                  position: relative;
                  padding: 0 12px 0 10px;
                  &::after {
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    right: -1px;
                    top: 0;
                    background: rgba(0, 0, 0, 0.1);
                    content: "";
                    display: block;
                  }
                  &:last-child {
                    &::after {
                      display: none;
                    }
                  }
                }
              }
            }
            .jdes {
              width: 100%;
              height: auto;
              position: relative;
              padding: 25px;
              font-size: 16px;
              line-height: 1.7;
              border-top: 1px solid rgba(0, 0, 0, 0.05);
              display: none;
            }
          }
        }
      }
    }
  }
}

.contact-us-page-content {
  .contact-info {
    padding: 50px 0;
    @include flex-center-x;
    .item {
      padding: 0 50px;
      @include flex-center-y;
      span {
        font-size: 23px;
        color: $red;
      }
      p {
        margin-bottom: 0;
        padding-left: 10px;
      }
    }
  }
  .company-map {
    height: 500px;
  }
}

@media (max-width: 1200px) {
  .join-us {
    padding: 30px 0;
    .join-us-content {
      @include flex-wrap;
      .left-wrapper {
        width: 100%;
        .contact-way {
          padding: 20px;
          background-color: $red;
          color: #fff;
          h2 {
            font-size: 16px;
            padding-left: 40px;
            position: relative;
            &::before {
              width: 20px;
              height: 16px;
              margin-bottom: 20px;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          p {
            padding-left: 40px;
            font-size: 14px;
            margin-bottom: 0;
          }
        }
      }
      .right-wrapper {
        width: 100%;
        .jobs {
          .item {
            .job-card {
              .jtop {
                padding: 10px;
                cursor: pointer;
                &::after {
                  width: 16px;
                  height: 2px;
                  position: absolute;
                  right: 20px;
                  top: 50%;
                  margin-top: -1px;
                  background: #000;
                  display: block;
                  content: "";
                }
                &::before {
                  width: 2px;
                  height: 16px;
                  position: absolute;
                  right: 26px;
                  top: 50%;
                  margin-top: -8px;
                  background: #000;
                  display: block;
                  content: "";
                }
                .name {
                  width: 100%;
                  font-size: 14px;
                  line-height: 20px;
                  text-indent: 10px;
                  padding-bottom: 10px;
                }
                .des {
                  width: 100%;
                  font-size: 14px;
                  line-height: 20px;
                  span {
                    position: relative;
                    padding: 0 12px 0 10px;
                    font-size: 12px;
                  }
                }
              }
              .jdes {
                padding: 15px;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }

  .contact-us-page-content {
    .contact-info {
      padding: 50px 0;
      display: block;
      .item {
        padding: 10px;
        @include flex-center-y;
        span {
          font-size: 23px;
          color: $red;
        }
        p {
          margin-bottom: 0;
          padding-left: 10px;
        }
      }
    }
    .company-map {
      height: 300px;
    }
  }
  
}
