$theme-color: #0077E0;
$theme-sub-color: #B78E46;
$theme-sub-color-deep: #A8884F;
$white: #fff;
$red: #D12D28;
$font-color-main: #181F2D;
$font-color-common: #515A6E;
$font-color-sub: #9EA5B6;

$font-size-ex-small: 12px;
$font-size-small: 13px;
$font-size-base: 14px;
$font-size-medium: 16px;
$font-size-large: 18px;
$font-size-ex-large: 20px;