/**
 * create by 刘耀文
 */

body {
  padding-top: 90px;
}

/* 网页的宽度，主要用于无任何自适应网站的布局 */
.main-container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}
.full-container {
  min-width: 1240px;
}

/* header */
.web-header {
  background-color: #333;
}

/* 手机样式 */
@media screen and (max-width: 900px) {

}